POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DBNAME
POSTGRES_PORT=PORT

INTERNAL_API_KEY=your-secure-internal-api-key-here
JWT_SECRET=your-secure-jwt-secret-key
NEXT_PUBLIC_API_URL=/api
CORS_ALLOWED_ORIGINS=example
GOOGLE_CLIENT_ID=your-google-oauth-client-id-here

